<form class="item" method="post" action="{{ path('admin_production_delete', {'id': production.id}) }}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ production.id) }}">
    <button class="btn delete-btn js-confirm-alert"><i class="zmdi zmdi-delete"></i></button>
</form>
